* , *::after , *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --clr-box: aqua;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}


.box{
  width: 100px;
  height: 100px;
  background-color: var(--clr-box);
  box-shadow: 200px 0 0px var(--clr-box); /*0 blur to make it identical boxes*/
}